.header {
    margin: auto;
    animation: App-logo-spin infinite 1s linear;
    width:100px;
    }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
} 


  